*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  margin: auto;
  max-inline-size: 1140px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 4px 2px 2px;
  overflow-y: auto;
  block-size: 298px;
  gap: 30px;
}

.result {
  inline-size: 711px;
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  padding: 2.5px 14px 2.5px 0;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  background-color: inherit;
  appearance: none;
  inline-size: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  padding: 1.5px 0;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-within) {
  outline: 1px solid #fff;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:active {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-block-end: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  vertical-align: middle;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

input[type='checkbox']:active + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.content__details {
  inline-size: 399px;
  block-size: 534px;
}

h1.title {
  margin-bottom: 22px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  opacity: 0.1;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-inline: 3px;
}

.content__list-item:focus {
  outline: none;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover p {
  text-decoration: underline;
}

.content__card-link:hover h2 {
  border-bottom: 1px solid #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-within {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  display: inline-block;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0;
  max-inline-size: 192px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0;
  max-inline-size: 192px;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  min-inline-size: 194px;
}

.button {
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  background-color: inherit;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: double #fff;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 72.5px;
}

.more-button {
  margin-bottom: 2px;
  padding: 6px 0;
  inline-size: 100%;
}
